@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h1 class="display-4">At - Controle de Aniversarios</h1>
    <p>Sistema de controle de contatos - Assessement - Professor: Alexandre</p>

    <img src="~/Views/INFNET.png" />
</div>
