@{
    ViewData["Title"] = "Confirmação de apagar o aniversáriante";
}
<div class="text-center">

    <h1 class="display-4">Apagar Aniversariante</h1>
    <h3 class="display-4">Realmente desejo apagar o aniversariante</h3>

    <a class="btn btn-primary btn-block" role="button" asp-controller="Contato" asp-action="Apagar" >Apagar - Apagaaaa o aniversarianete</a>
    <a class="btn btn-primary btn-block" role="button" asp-controller="Contato" asp-action="Index">Voltar - Não quero apagar</a>


</div>